body{

background-color: rgb(171, 226, 226);


}


header{
font-size: 88px;
text-align: center;
background-color: azure;
color: rgb(76, 76, 196);

}


iframe{                       
  width:1900px;      
  height:2001px;                                                                                   
}

header:hover{
  background-color: rgb(161, 216, 241);
  color: rgb(71, 44, 134);
}



